/* CSS file */


Application
{
	backgroundColor:#fbf6e1;
	borderSkin: ClassReference("assets.skins.ApplicationSkin");
	background-repeat:repeat-x;
	background-image: Embed(source='assets/images/application_bg.png');
	/* fontFamily: "Lucida Grande"; */
 	font-size:13pt;
	themeColor:#2e2821;
	disabled-color: #656361;
	font-sharpness: 100;
	font-thickness: -100;
}




Button
{
	upSkin:Embed(source='assets/images/button_up.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15, scaleGridBottom=16);
	downSkin:Embed(source='assets/images/button_up.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
	overSkin:Embed(source='assets/images/button_over.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
	disabledSkin: Embed(source='assets/images/button_disabled.png', scaleGridLeft=10, scaleGridRight=96, scaleGridTop=15,scaleGridBottom=16);
	color:#444444;
}

ComboBox
{
	upSkin:Embed(source='assets/images/comboBox_up.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19, scaleGridBottom=20);
	downSkin:Embed(source='assets/images/comboBox_up.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
	overSkin:Embed(source='assets/images/comboBox_over.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
	disabledSkin: Embed(source='assets/images/comboBox_disabled.png', scaleGridLeft=10, scaleGridRight=82, scaleGridTop=19,scaleGridBottom=20);
	padding-left: 10;
	color:#444444;
	dropdownStyleName: dropdownStyleName;
}

.dropdownStyleName
{
	background-color: #2b2a2a;
	border-color: #2e2821;
	selectionColor:#3e3d3d;
	rollOverColor:#3e3d3d;
	textRollOverColor:#ffffff;
	textSelectedColor:#ffffff; 
	color: #ffffff;
	font-weight:normal;
	dropShadowEnabled: true;
}


.text
{
	
}

SpringGraph
{
	backgroundColor:#000000;
}

.tipButton
	{
		color: #222222;
		fillAlphas: 1.0, 1.0;
		fillColors: #0084FF, #0084FF;
		fontSize: 12pt;
		textAlign: left;
		
	}
	
.movieButton
{
	color: #222222;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFBA00, #FFBA00;
	fontSize: 12pt;
	textAlign: left;
	icon:Embed(source='myimage/MovieIcon.png');
}

.starButton
{
	color: #222222;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFBA00, #FFBA00;
	fontSize: 12pt;
	textAlign: left;
	icon:Embed(source='myimage/StarIcon.png');
}
	
LinkButton
{
	color: #ffffff;
	roll-over-color: #555555;
	textRollOverColor:#eeeeee;
}

Panel, Alert, TitleWindow
{
	background-color: #3e3e3e;
	border-color: #22201e;
	color:#ffffff;
	header-height:60;
	border-alpha: 1;
	corner-radius: 10;
	dropShadowStyleName: panelDropShadow;
	border-skin: ClassReference("assets.skins.SmartPanelSkin");
	dropShadowEnabled: false;
	title-style-name: headerStyle;
	headerSkin: ClassReference("assets.skins.HeaderSkin");
}

.panelDropShadow
{
	distance:5;
	size:28;
	alpha:0.7;
}
.headerStyle
{
	text-align:center;
	font-size: 15;
	fontFamily:"Century Gothic";
	border-skin: Embed(source='assets/images/header_bg.png', scaleGridLeft=20, scaleGridRight=200, scaleGridTop=40,scaleGridBottom=42);
}

CheckBox
{
	upIcon: Embed(source='assets/images/CheckBox_upIcon.png');
	downIcon:Embed(source='assets/images/CheckBox_downIcon.png');
	overIcon:Embed(source='assets/images/CheckBox_overIcon.png');
	selectedUpIcon:Embed(source='assets/images/CheckBox_selectedUpIcon.png');
	selectedOverIcon:Embed(source='assets/images/CheckBox_selectedDownIcon.png');
	selectedDownIcon:Embed(source='assets/images/CheckBox_selectedOverIcon.png');
	disabledIcon:Embed(source='assets/images/CheckBox_selectedDisabledIcon.png');
	selectedDisabledIcon:Embed(source='assets/images/CheckBox_disabledIcon.png');
	textRollOverColor:#dddddd;
	textSelectedColor:#aaaaaa;
	color: #ffffff;
}