.ajax__calendar_container {
	POSITION: absolute; TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; WIDTH: 170px; PADDING-RIGHT: 4px; FONT-FAMILY: tahoma,verdana,helvetica; FONT-SIZE: 11px; CURSOR: default; PADDING-TOP: 4px
}
.ajax__calendar_body {
	POSITION: relative; MARGIN: auto; WIDTH: 170px; HEIGHT: 139px; OVERFLOW: hidden
}
.ajax__calendar_days {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: auto; WIDTH: 170px; HEIGHT: 139px; TOP: 0px; LEFT: 0px
}
.ajax__calendar_months {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: auto; WIDTH: 170px; HEIGHT: 139px; TOP: 0px; LEFT: 0px
}
.ajax__calendar_years {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: auto; WIDTH: 170px; HEIGHT: 139px; TOP: 0px; LEFT: 0px
}
.ajax__calendar_container TABLE {
	FONT-SIZE: 11px
}
.ajax__calendar_header {
	WIDTH: 100%; HEIGHT: 20px
}
.ajax__calendar_prev {
	BACKGROUND-IMAGE: url(WebResource.axd?d=blzFvcsj_PUqgl895TFk2K-rmqJeLrHhZViQyrq3imbE10dwREZIxu1epIYuWpCdayl0E6kSzldhStlYLV-WkQ2&t=633516186600000000); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 50%; FLOAT: left; HEIGHT: 15px; CURSOR: pointer
}
.ajax__calendar_next {
	BACKGROUND-IMAGE: url(WebResource.axd?d=blzFvcsj_PUqgl895TFk2K-rmqJeLrHhZViQyrq3imbE10dwREZIxu1epIYuWpCdNuOX7HUFlUc5vYDCCSECEg2&t=633516186600000000); WIDTH: 15px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 50% 50%; FLOAT: right; HEIGHT: 15px; CURSOR: pointer
}
.ajax__calendar_title {
	CURSOR: pointer; FONT-WEIGHT: bold
}
.ajax__calendar_footer {
	HEIGHT: 15px
}
.ajax__calendar_today {
	CURSOR: pointer; PADDING-TOP: 3px
}
.ajax__calendar_dayname {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 17px; PADDING-RIGHT: 2px; HEIGHT: 17px; PADDING-TOP: 0px
}
.ajax__calendar_day {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; WIDTH: 18px; PADDING-RIGHT: 2px; HEIGHT: 17px; CURSOR: pointer; PADDING-TOP: 0px
}
.ajax__calendar_month {
	TEXT-ALIGN: center; WIDTH: 40px; HEIGHT: 44px; OVERFLOW: hidden; CURSOR: pointer
}
.ajax__calendar_year {
	TEXT-ALIGN: center; WIDTH: 40px; HEIGHT: 44px; OVERFLOW: hidden; CURSOR: pointer
}
.ajax__calendar .ajax__calendar_container {
	BORDER-BOTTOM: #646464 1px solid; BORDER-LEFT: #646464 1px solid; BACKGROUND-COLOR: #ffffff; COLOR: #000000; BORDER-TOP: #646464 1px solid; BORDER-RIGHT: #646464 1px solid
}
.ajax__calendar .ajax__calendar_footer {
	BORDER-TOP: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_dayname {
	BORDER-BOTTOM: #f5f5f5 1px solid
}
.ajax__calendar .ajax__calendar_day {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_month {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_year {
	BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #0066cc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #0066cc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #0066cc; BORDER-LEFT-COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; COLOR: #646464; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #ffffff; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #ffffff; COLOR: #646464; BORDER-RIGHT-COLOR: #ffffff; BORDER-LEFT-COLOR: #ffffff
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {
	BORDER-BOTTOM-COLOR: #daf2fc; BACKGROUND-COLOR: #edf9ff; BORDER-TOP-COLOR: #daf2fc; COLOR: #0066cc; BORDER-RIGHT-COLOR: #daf2fc; BORDER-LEFT-COLOR: #daf2fc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {
	COLOR: #0066cc
}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {
	COLOR: #0066cc
}
